{% extends 'base.html' %}
{% block title %}Tạo thông báo mới{% endblock %}
{% block css %}
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black;
        font-size: 26px;
    }

    .form {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border: 1px solid #ccc;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    label {
        display: block;
        margin-bottom: 7px;
        color: #000;
    }

    .create-notification a,
    .btn-primary {
        color: black;
        background-color: #ffefef;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
    }

    .create-notification a:hover,
    .create-notification a:focus,
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: white;
        color: #d42828;
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 0.5px solid #000;
        border-radius: 3px;
        resize: vertical;
        color: #000;
        font-size: 16px;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    button {
        background-color: #d42828;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .create-notification a {
        color: #000;
        text-decoration: none;
    }

    .create-notification a:hover {
        color: #d42828;
    }

    .create-notification {
            text-align: right;
            margin-top: 30px;
            margin-right: 120px;
    }
{% endblock %}
{% block content %}
    {% if user.is_staff %}
        <div class="create-notification">
            <a href="{% url 'notification_list' %}">Quay lại danh sách</a>
        </div>
        {% endif %}
    <h1>Tạo thông báo mới</h1>
 <div class="form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="submit">Tạo</button>
        </div>
    </form>
</div>
{% endblock %}