{% extends 'base.html' %}
{% block title %}TRANG CHỦ{% endblock %}
{% block css %}
    #my-image {
        height: 100%;
        width: 100%;

       }
    .nen_home {
    width: 1225px;
    height: 400px:
    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
    margin-bottom: -10px;
}
.container {
    width: 1225px;
    margin: 20px auto;
}

.image-container {
    width: 100%;
}

.image-container img {
    float: left;
    width: 21%;
    height: 21%;
    margin-right: 1%;
}

.text-container {
    float: right;
    width: 55%;
    text-align: justify;
}
.text-container h2 {
    position: relative;
}

.text-container h2::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #E22B2B;
    margin-left: -15px;
}

.text-container h2 {
    font-size: 28px;
    margin-left: 15px;
}
{% endblock %}
{% block content %}
{% load static %}
    <div class="nen_home">
        <img id="my-image" src="{% static 'mxh/bia_home.png' %}" />
    </div>
<div class="container">
    <div class="image-container" >
        <div class="image-container" >
        <img src="{% static 'mxh/home1.png' %}" />
        <img src="{% static 'mxh/home2.png' %}" />
            </div>
        <div class="text-container" >
    <h2>CÔNG TY TNHH</h2>
    <h2>CÔNG NGHỆ TIN HỌC PHI LONG</h2>           <br>
        <p>Công ty TNHH Công nghệ Tin học Phi Long được thành lập ngày 03 tháng 09 năm 1997, từ một đơn vị kinh doanh nhỏ, chỉ có vài thành viên trẻ tuổi tâm huyết. Cho đến nay, đã gần 27 năm hoạt động và phát triển trải qua những thử thách khó khăn, Phi Long đã trở thành một trong những Công ty tin học lớn mạnh nhất Đà Nẵng và khu vực Miền Trung</p>
</div>
    </div>
    </div>

{% endblock %}