{% extends 'base.html' %}

{% block title %}Thông tin nhân viên chi tiết{% endblock %}

{% block css %}
    .employee-container {
        max-width: 800px;
        margin: 0;
        padding: 0;
    }
    .employee-details {
        display: flex;
        align-items: flex-start;
        padding: 20px;
        border-radius: 5px;
    }
    .employee-info {
        flex-grow: 1;
        color: black;
        text-align: left;
    }
    .employee-info h1 {
        margin-bottom: 10px;
        color: black;
        font-size: 26px;
    }
    .employee-info p {
        margin: 5px 0;
        color: black;

    }
    .info-section {
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1.5px solid #ccc;
        border-radius: 3px;
        margin-bottom: 7px;
        background-color: #ffefef;
    }
    .info-section p {
        flex-grow: 1;
        font-size: 16px;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .update-btn, .back-btn {
        margin: 0 10px;
    }
    .update-btn {
        background-color: #d42828;
        color: white;
        padding: 10px 25px;
        border-radius: 4px;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;
    }
    .back-btn {
        background-color: white;
        color: black;
        padding: 12px 12px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }
    .success-message {
        color: #d42828;
        font-weight: bold;
        text-align: left;
        padding: 20px;
    }
{% endblock %}
{% block content %}
    {% for mess in messages %}
        <p class="success-message"><em>{{ mess }}</em></p>
    {% endfor %}

    <div class="employee-container">
        <div class="employee-details">
            <div class="employee-info">
                <h1>{{employee.position}}: {{ employee.user.first_name }} {{ employee.user.last_name }}</h1>
                <div class="info-section">
                    <p>Mã NV: {{ employee.employee_code }}</p>
                </div>
                <div class="info-section">
                    <p>Ngày sinh: {{ employee.date_of_birth }}</p>
                </div>
                <div class="info-section">
                    <p>Giới tính: {{ employee.gender }}</p>
                </div>
                <div class="info-section">
                    <p>Dân tộc: {{ employee.ethnicity }}</p>
                </div>
                <div class="info-section">
                    <p>Địa chỉ: {{ employee.address }}</p>
                </div>
                <div class="info-section">
                    <p>Email: {{ employee.email }}</p>
                </div>
                <div class="info-section">
                    <p>Số điện thoại: {{ employee.phone_number }}</p>
                </div>
                <div class="info-section">
                    <p>Đơn vị công tác: {{ employee.working_unit }}</p>
                </div>
                <div class="info-section">
                    <p>Bộ phận: {{ employee.department }}</p>
                </div>
                <div class="info-section">
                    <p>Chức vụ: {{ employee.position }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <a href="{% url 'employee_list' %}" class="back-btn">Trở về danh sách</a>
        {% if request.user == employee.user or request.user.is_staff %}
            <a href="{% url 'employee_update' employee.employee_code %}" class="update-btn">Cập nhật</a>
        {% endif %}
    </div>
{% endblock %}